<p class="month-calendar__heading month-calendar__heading--aggregate">
  {{monthName}} <sub class="month-calendar__year">{{year}}</sub>
</p>

<div>
  <div class="month-calendar__day month-calendar__day--aggregate-day">sun</div>
  <div class="month-calendar__day month-calendar__day--aggregate-day">mon</div>
  <div class="month-calendar__day month-calendar__day--aggregate-day">tue</div>
  <div class="month-calendar__day month-calendar__day--aggregate-day">wed</div>
  <div class="month-calendar__day month-calendar__day--aggregate-day">thu</div>
  <div class="month-calendar__day month-calendar__day--aggregate-day">fri</div>
  <div class="month-calendar__day month-calendar__day--aggregate-day">sat</div>
</div>
{{#each daysInMonth as |week|}}
  <div>
  {{#each week as |date|}}
    {{aggregate-day
        date=date
        startDate=startDate
        endDate=endDate
        dateFrequency=dateFrequency}}
  {{/each}}
  </div>
{{/each}}
