<p class="month-calendar__heading month-calendar__heading--aggregate">
  {{monthName}} <sub class="month-calendar__year">{{year}}</sub>
</p>

<table>
  <tbody>
    <tr>
      <td class="month-calendar__day month-calendar__day--aggregate-day">sun</td>
      <td class="month-calendar__day month-calendar__day--aggregate-day">mon</td>
      <td class="month-calendar__day month-calendar__day--aggregate-day">tue</td>
      <td class="month-calendar__day month-calendar__day--aggregate-day">wed</td>
      <td class="month-calendar__day month-calendar__day--aggregate-day">thu</td>
      <td class="month-calendar__day month-calendar__day--aggregate-day">fri</td>
      <td class="month-calendar__day month-calendar__day--aggregate-day">sat</td>
    </tr>
    {{#each daysInMonth as |week|}}
      <tr>
      {{#each week as |date|}}
        {{aggregate-day
            date=date
            startDate=startDate
            endDate=endDate
            dateFrequency=dateFrequency}}
      {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
