<p class="aggregate-month__heading">{{monthName}} {{year}}</p>

<table>
  <tbody>
    <tr>
      <td>sun</td>
      <td>mon</td>
      <td>tue</td>
      <td>wed</td>
      <td>thu</td>
      <td>fri</td>
      <td>sat</td>
    </tr>
    {{#each daysInMonth as |week|}}
      <tr>
      {{#each week as |date|}}
        {{aggregate-day
            tagName="td"
            date=date
            dateFrequency=dateFrequency}}
      {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
