<section>
  <h2 class="attendees-availabilities__header">Check out the dates that attendees are available yo!</h2>

  {{#each event.months as |month|}}
    {{#if isCheckingAll}}
      {{aggregate-month
          month=month
          dateFrequency=event.dateFrequency
          startDate=event.startDate
          endDate=event.endDate}}
    {{/if}}
    {{#if isCheckingAttendee}}
      {{attendee-month
          month=month
          availableDates=checking.availableDates
          startDate=event.startDate
          endDate=event.endDate}}
    {{/if}}
  {{/each}}

  {{#if isCheckingAll}}
    <div class="attendees-availabilities__legend">
      <p class="legend"><span class="legend__icon legend__icon--few"></span>few</p>
      <p class="legend"><span class="legend__icon legend__icon--more"></span>more</p>
      <p class="legend"><span class="legend__icon legend__icon--everyone"></span>everyone</p>
    </div>
  {{/if}}


  <div class="attendees-availabilities__check">
    <div class="check-availabilities__all">
      {{attendee-to-check click=(action "checkAvailabilityFor" "all") checking=checking attendee="all"}}
    </div>
    <div class="check-availabilities__attendees">
      {{#each event.attendees as |attendee|}}
        {{attendee-to-check click=(action "checkAvailabilityFor" attendee) checking=checking attendee=attendee}}
      {{/each}}
    </div>
  </div>
</section>
