<section>
  <h2 class="attendees-availabilities__header">Check out the dates that attendees are available yo!</h2>

  {{#each event.months as |month|}}
    {{aggregate-month
        month=month
        dateFrequency=event.dateFrequency
        startDate=event.startDate
        endDate=event.endDate}}
  {{/each}}

  <div class="attendees-availabilities__legend">
    <p class="legend"><span class="legend__icon legend__icon--few"></span>few</p>
    <p class="legend"><span class="legend__icon legend__icon--more"></span>more</p>
    <p class="legend"><span class="legend__icon legend__icon--everyone"></span>everyone</p>
  </div>
</section>
