<p class="month-calendar__heading month-calendar__heading--attendee">
  {{monthName}} <sub class="month-calendar__year">{{year}}</sub>
</p>

<div>
  <div class="month-calendar__day">sun</div>
  <div class="month-calendar__day">mon</div>
  <div class="month-calendar__day">tue</div>
  <div class="month-calendar__day">wed</div>
  <div class="month-calendar__day">thu</div>
  <div class="month-calendar__day">fri</div>
  <div class="month-calendar__day">sat</div>
</div>
{{#each daysInMonth as |week|}}
  <div>
  {{#each week as |date|}}
    {{attendee-day
        date=date
        availableTimes=availableTimes}}
  {{/each}}
  </div>
{{/each}}
