{{#liquid-bind displayText use="fade" as |text|}}
  <p class="form-message__text">{{text}}</p>
{{/liquid-bind}}
{{#liquid-bind imgSrc use="fade" as |src|}}
  <img src={{src}} class="form-message__img">
{{/liquid-bind}}
