{{#if hello}}
  <p class="form-message__text form-message__text--hello">{{helloText}}</p>
  <img src="http://i.giphy.com/26Fxy3Iz1ari8oytO.gif" class="form-message__img">
{{/if}}

{{#if noName}}
  <p class="form-message__text form-message__text--no-name">What's your name tho?</p>
  <img src="http://i.giphy.com/26FxyZgg5z9fAqbLy.gif" class="form-message__img">
{{/if}}

{{#if wrongSecret}}
  <p class="form-message__text form-message__text--wrong-secret">You got the secret wrong!</p>
  <img src="http://i.giphy.com/l4HoeWqEEuPNXNYGs.gif" class="form-message__img">
{{/if}}

