{{#liquid-bind displayText use="fade" as |displayText|}}
  <p class="form-message__text">{{displayText}}</p>
{{/liquid-bind}}
{{#liquid-bind imgSrc use="fade" as |imgSrc|}}
  <img src={{imgSrc}} class="form-message__img">
{{/liquid-bind}}
