<p class="month-calendar__heading month-calendar__heading--selectable">
  {{monthName}} <sub class="month-calendar__year">{{year}}</sub>
</p>

<table>
  <tbody>
    <tr>
      <td class="month-calendar__day">sun</td>
      <td class="month-calendar__day">mon</td>
      <td class="month-calendar__day">tue</td>
      <td class="month-calendar__day">wed</td>
      <td class="month-calendar__day">thu</td>
      <td class="month-calendar__day">fri</td>
      <td class="month-calendar__day">sat</td>
    </tr>
    {{#each daysInMonth as |week|}}
      <tr>
      {{#each week as |date|}}
        {{selectable-day
            date=date
            startDate=startDate
            endDate=endDate
            selectedDates=selectedDates
            clickedDate="clickedDate"}}
      {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
