.about {

  &__icon {
    display: block;
    border: 1px solid $pastel-blue;
    color: $pastel-blue;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 18px;
    bottom: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    &:hover {
      @include transition-all;
      border-color: darken($pastel-blue, 20%);
      color: darken($pastel-blue, 20%);
    }

    &:active {
      border-color: darken($pastel-blue, 30%);
      color: darken($pastel-blue, 30%);
    }

    &--open {
      padding: 8px;
      font-size: 16px;
    }

    &--close {
      font-size: 28px;
    }
  }

  &__text {
    text-align: left;
    color: darken($pastel-blue, 30%);
    font-size: 16px;
    line-height: 24px;
  }

  &__modal-box {
    text-align: center;
    position: fixed;
    padding: 30px;
    padding-top: 10px;
    bottom: 50px;
    right: 60px;
    width: 500px;
    border-radius: 6px;
    border: 1px solid $pastel-blue;
    background-color: white;
  }
}
