.about {

  &__button {
    display: block;
    border: 2px solid lighten(black, 85%);
    color: lighten(black, 85%);
    width: 35px;
    height: 35px;
    padding: 8px;
    font-size: 16px;
    position: fixed;
    right: 18px;
    bottom: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      @include transition-all;
      border-color: lighten(black, 70%);
      color: lighten(black, 70%);
    }

    &:active {
      border-color: lighten(black, 50%);
      color: lighten(black, 50%);
    }
  }
}
