@import 'reset';
@import 'fonts';
@import 'colors';

@import 'mixins';
@import 'liquid-fire';
@import 'home';
@import 'event';
@import 'new-attendee';
@import 'not-found';
@import 'month-calendar';
@import 'button';
@import 'event-calendars';
@import 'divider';
@import 'line-input';
@import 'attendees-availabilities';
@import 'about';
@import 'new-event';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  color: lighten(black, 25%);
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/

  &.event {
  }

  &.index {
    background-image: url('/assets/images/home-1440.jpg');
    @media screen and (max-width: 1080) {
      background-image: url('/assets/images/home-1080.jpg');
    }
    @media screen and (max-width: 600) {
      background-image: url('/assets/images/home-600.jpg');
    }
  }

  &.events-new {
  }
}
