@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);

@import 'reset';
@import 'colors';

@import 'mixins';
@import 'home';
@import 'event';
@import 'new-attendee';
@import 'not-found';
@import 'month-calendar';
@import 'button';
@import 'event-calendars';
@import 'divider';
@import 'line-input';
@import 'attendees-availabilities';
@import 'about';
@import 'new-event';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: $off-white;
}
