.attendees-availabilities {
  margin: 20px auto;
  text-align: center;
  margin-bottom: 60px;

  &__header {
    font-size: 20px;
    margin: 30px auto;
    color: lighten($sasuke-blue, 5%);
  }

  &__legend {
    margin: 30px auto;
    margin-bottom: 5px;
    color: lighten($sasuke-blue, 5%);
  }

  &__check {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
  }
}

.check-availabilities {
  &__attendees {
    display: inline-block;
    width: 600px;
    text-align: center;

    @media screen and (max-width: 600px) {
      width: auto;
    }
  }
}

.attendee-to-check {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
  margin: 10px 15px;
  padding: 5px 10px;
  color: lighten($sasuke-blue, 5%);

  @media screen and (max-width: 600px) {
    margin: 0.5em 1em;
    padding: 0.2em 0.5em;
  }

  &--checking {
    border-bottom: 2px solid lighten($sasuke-blue, 5%);
  }

  &__all {
    &:hover {
      color: $blue-primary;
    }

    &--checking {
    }
  }

  &__attendees {
    &:hover {
      color: $pastel-green;
      border-color: $pastel-green;
    }

    &--checking {
      color: $pastel-green;
      border-color: $pastel-green;
    }
  }
}

.legend {
  display: inline-block;
  margin: 0 30px;
  font-size: 16px;

  @media screen and (max-width: 350px) {
    margin: 5px 30px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    background-color: black;
    position: relative;
    top: 5px;
    right: 10px;

    &--everyone {
      background-color: darken($blue-primary, 40%);
    }

    &--more {
      background-color: darken($blue-primary, 25%);
    }

    &--few {
      background-color: lighten($blue-primary, 10%);
    }
  }
}
