.button {
  padding: 8px 16px;
  border: 1px solid lighten(black, 50%);
  background-color: lighten(black, 50%);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    @include transition-all;
    border: 1px solid lighten(black, 30%);
    background-color: lighten(black, 30%);
  }

  &:active {
    border: 1px solid lighten(black, 20%);
    background-color: lighten(black, 20%);
  }

  &--med {
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
  }
  &--large {
    padding: 18px 26px;
    font-size: 20px;
    font-weight: bold;
  }

  &--green {
    @include button-color(lighten($green-primary, 5%));
    &:hover {
      @include button-color($green-primary);
    }
    &:active {
      @include button-color(darken($green-primary, 10%));
    }
  }

  &--inverse {
    @include inverse-button(lighten(black, 30%));
    font-weight: normal;
    &:hover {
      @include inverse-button(lighten(black, 20%));
    }
    &:active {
      @include inverse-button(lighten(black, 10%));
    }

    &-thick {
      border-width: 2px;
      &:hover {
        border-width: 2px;
      }
      &:active {
        border-width: 2px;
      }
    }

    &-blue {
      @include inverse-button(lighten($tokiwa-blue, 15%));
      &:hover {
        @include inverse-button(lighten($tokiwa-blue, 5%));
      }
      &:active {
        @include inverse-button($tokiwa-blue);
      }
    }
  }
}
