$off-white: #FCFCFC;

$pink-primary: #FF6391;
$pink-secondary: #FCD9E4;

$blue-primary: #4EDCFF;
$blue-secondary: #8CE8FF;
$blue-dim: #4176FF;

$green-primary: #38f065;
$green-secondary: #8FFFCF;
$green-tertiary: #92F7CC;
$green-dim: #29E393;

$purple-primary: #c782f6;
$purple-secondary: #F3E6FC;

$orange-primary: #FFCA2B;
$orange-secondary: #FFCA2B;
$orange-dim: #FAC116;

$pastel-blue: #7DA3FF;
$pastel-green: #00F7C0;
$pastel-green-2: #00EA98;

$cool-purple: #E55EE7;

$aya-red: #e23601;
$tokiwa-blue: #294A9C;
$kasuga-green: #35dda0;

$sasuke-blue: #4f43e7;
$sakura-red: #e83983;
$naruto-orange: #fe9a21;

$off-black: lighten(black, 40%);

$safe-green: #008000;
$safe-teal: #007a7c;
$safe-teal-2: #008080;
$safe-blue: #0f4880;
$safe-blue-2: #1460aa;
$safe-blue-3: #3455db;
$safe-purple: #b200fd;
