$off-white: #FCFCFC;
$pink-primary: #FF6391;
$pink-secondary: #FCD9E4;
$blue-primary: #4EDCFF;
$blue-secondary: #8CE8FF;
$blue-dim: #17C5FF;
$green-primary: #57F2AF;
$green-secondary: #8FFFCF;
$green-tertiary: #92F7CC;
$green-dim: #29E393;
$purple-primary: #DEADFF;
$purple-secondary: #F3E6FC;
$orange-primary: #FFBF00;
$orange-secondary: #FFCA2B;
$orange-dim: #FAC116;

$pale-blue: #5F678E;

$peach: #FFE2A4;

$pastel-blue: #7DA3FF;

$cool-purple: #E55EE7;

