.divider {
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid lighten(black, 80%);
  width: 550px;

  @media screen and (max-width: 550px) {
    width: auto;
  }

  &--pink {
    border-color: $pink-secondary;
  }
  &--green {
    border-color: lighten($pastel-green, 35%);
  }
  &--purple {
    border-color: lighten($purple-primary, 15%);
  }
}
