.event {
  &__name {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
  }

  &__description {
    margin: 30px auto;
  }
}


.event-description {
  text-align: center;
  font-size: 16px;

  &__item {
    margin-top: 15px;
  }
}

