@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);

@font-face {
  font-family: 'Moon Flower';
  src: url(/assets/fonts/Moon_Flower.ttf) format('truetype');
}

@font-face {
  font-family: 'Moon Flower';
  src: url(/assets/fonts/Moon_Flower_Bold.ttf) format('truetype');
  font-weight: bold;
}
