.home {
  &__heading {
    font-size: 150px;
    font-family: 'Moon Flower', sans-serif;
    text-align: center;
    margin-top: 270px;
    color: lighten(black, 30%);

    @media screen and (max-width: 610px) {
      font-size: 100px;
    }
    @media screen and (max-height: 600px) {
      font-size: 100px;
    }
    @media screen and (max-height: 600px) {
      margin-top: 100px;
    }
    @media screen and (min-height: 1024px) {
      margin-top: 360px;
    }
  }

  &__image {
    text-align: center;
    margin-top: 50px;
  }

  &__new-event {
    text-align: center;
    margin: 40px;
  }
}
