.home {
  &__heading {
    font-size: 120px;
    font-family: 'lemon yellow sun', sans-serif;
    text-align: center;
    margin-top: 270px;
    color: lighten(black, 35%);
    cursor: default;

    @media screen and (max-width: 610px) {
      font-size: 100px;
    }
    @media screen and (max-height: 600px) {
      font-size: 100px;
    }
    @media screen and (max-height: 600px) {
      margin-top: 80px;
    }
    @media screen and (min-height: 1024px) {
      margin-top: 360px;
    }
  }

  &__image {
    text-align: center;
    margin-top: 50px;
  }

  &__new-event {
    text-align: center;
    margin: 50px;
  }

  &--pretty {
    &-pink {
      @include hover-color($pink-primary);
    }
    &-sasuke {
      @include hover-color($sasuke-blue);
    }
  }
}
