.home {
  &__heading {
    font-size: 150px;
    font-family: 'Moon Flower', sans-serif;
    text-align: center;
    margin-top: 270px;
    color: lighten(black, 30%);
  }

  &__image {
    text-align: center;
    margin-top: 50px;
  }

  &__new-event {
    text-align: center;
    margin: 40px;
  }
}
