@mixin transition-all {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

@mixin line-input {
  font-family: 'Dosis', sans-serif;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  padding: 2px;
  font-size: 18px;
}

@mixin inverse-button($color) {
  border-style: solid;
  border-color: $color;
  color: $color;
  background-color: transparent;
}

@mixin button-color($color) {
  background-color: $color;
  border: $color;
}
