.month-calendar {
  display: inline-block;
  margin: 0 30px;
  border: 1px solid lighten($off-black, 40%);
  border-radius: 4px;
  text-align: center;
  padding: 5px 0;

  @media screen and (max-width: 1110px) {
    margin: 0 5px;
  }
  @media screen and (max-width: 1020px) {
    display: block;
    width: 455px;
    margin: auto;
  }
  @media screen and (max-width: 455px) {
    width: 100%;
  }

  &__heading {
    font-size: 19px;
    margin: 10px 0;
    margin-left: 30px;
    color: $off-black;
  }

  &__year {
    font-size: 16px;
    margin-left: 5px;
  }

  &__day {
    font-size: 18px;
    width: 80px;
    padding: 10px;
    display: table-cell;

    @media screen and (max-width: 1250px) {
      padding: 10px;
      width: 65px;
    }
    @media screen and (max-width: 455px) {
      padding: .5em;
      font-size: 1em;
    }

    &--out-range {
      color: $off-black;
    }

    &--in-range {
      color: lighten($sasuke-blue, 5%);
    }

    &--selectable {
      cursor: pointer;

      &:hover {
        background-color: lighten($sasuke-blue, 5%);
        color: white;
      }
    }

    &--selected {
      background-color: lighten($sasuke-blue, 5%);
      color: white;

      &:hover {
        background-color: $sasuke-blue;
        color: white;
      }
    }

    &--everyone {
      background-color: darken($safe-blue, 5%);
      color: white;
    }

    &--more {
      background-color: $safe-blue-2;
      color: white;
    }

    &--few {
      background-color: lighten($safe-blue-3, 7%);
      color: white;
    }

    &--available {
      background-color: $safe-teal-2;
      color: white;
    }
  }
}
