.month-calendar {
  display: inline-block;
  border: 1px solid lighten(black, 80%);
  margin: 0 30px;
  border-radius: 4px;
  text-align: center;

  @media screen and (max-width: 1110px) {
    margin: 0 5px;
  }
  @media screen and (max-width: 1020px) {
    display: block;
    width: 455px;
    margin: auto;
    margin-bottom: 30px;
  }

  &__heading {
    font-size: 20px;
    padding: 20px;
    margin-left: 30px;
  }

  &__year {
    font-size: 16px;
    margin-left: 5px;
  }

  &__day {
    font-size: 18px;
    width: 80px;
    padding: 10px;

    @media screen and (max-width: 1250px) {
      padding: 10px;
      width: 65px;
    }

    &--unselectable {
      background-color: lighten(black, 90%);
    }

    &--selectable {
      cursor: pointer;

      &:hover {
        background-color: lighten(black, 30%);
        color: white;
      }

      &:active {
        background-color: lighten(black, 20%);
      }
    }

    &--selected {
      background-color: lighten(black, 50%);
      color: white;

      &:hover {
        background-color: lighten(black, 30%);
        color: black;
      }

      &:active {
        background-color: lighten(black, 20%);
      }
    }

    &--everyone {
      background-color: lighten(black, 30%);
    }

    &--more {
      background-color: lighten(black, 50%);
    }

    &--few {
      background-color: lighten(black, 70%);
    }

    &--available {
      background-color: lighten(black, 60%);
    }
  }
}
