.month-calendar {
  display: inline-block;
  border: 1px solid lighten(black, 80%);
  margin: 0 20px;
  border-radius: 4px;
  text-align: center;

  &__heading {
    font-size: 20px;
    padding: 20px;
    margin-left: 30px;
  }

  &__year {
    font-size: 16px;
    margin-left: 5px;
  }

  &__day {
    font-size: 18px;
    width: 80px;
    padding: 10px;

    &--unselectable {
      background-color: lighten(black, 90%);
    }

    &--selectable {
      cursor: pointer;

      &:hover {
        background-color: lighten(black, 30%);
        color: white;
      }

      &:active {
        background-color: lighten(black, 20%);
      }
    }

    &--selected {
      background-color: lighten(black, 50%);
      color: white;

      &:hover {
        background-color: lighten(black, 30%);
        color: black;
      }

      &:active {
        background-color: lighten(black, 20%);
      }
    }

    &--everyone {
      background-color: lighten(black, 30%);
    }

    &--more {
      background-color: lighten(black, 50%);
    }

    &--few {
      background-color: lighten(black, 70%);
    }
  }
}
