.new-event {
  &__header {
    text-align: left;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 40px;
    width: 800px;
  }

  &__form {
    text-align: center;
  }

  &__inputs {
    margin-top: 60px;
  }

  &__line {
    font-size: 20px;
    width: 800px;
    margin: 30px auto;
    text-align: left;
  }

  &__input {
    display: inline-block;
    margin-left: 5px;
  }

  &__date {
    @include line-input;
    width: 100px;
    text-align: center;
  }

  &__submit {
    text-align: right;
    width: 800px;
    margin: 30px auto;
  }

  &__create {
    margin-top: 25px;
    margin-right: 52px;
    display: inline-block;
  }

  &__message {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    &--error {
      font-size: 18px;
    }

    &--filled {
      position: absolute;
      right: 30px;
      bottom: 0;
    }
  }
}
