.new-attendee {
  margin: 20px auto;
  margin-bottom: 30px;

  &__header {
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
  }

  &__selectable-months {
    text-align: center;
  }

  &__form {
    margin: 20px auto;
    text-align: center;

    @media screen and (max-width: 1020px) {
      margin: 0;
    }
  }
}

.form-column {
  vertical-align: top;
  margin: 0 30px;
  width: 540px;
  display: inline-block;
  margin-top: 10px;

  @media screen and (max-width: 1205px) {
    width: 440px;
  }
  @media screen and (max-width: 1020px) {
    width: 540px;
    margin: 0;
  }

  &--messages {
    text-align: right;

    @media screen and (max-width: 1020px) {
      text-align: center;
    }
  }

  &--inputs {
    text-align: left;

    @media screen and (max-width: 1020px) {
      text-align: center;
    }
  }
}

.form-row {
  margin: 20px 0;

  &:first-of-type {
    margin-top: 0px;
  }

  &__label {
    font-size: 18px;
    margin-right: 10px;
  }

  &__input {
    display: inline-block;
  }

  &__input-name {
    margin-right: 6px;
  }

  &__button {
    margin-top: 15px;
    margin-left: 120px;
  }
}

.form-message {
  display: inline-block;
  overflow: hidden;
  width: 238px;
  border-radius: 4px;

  @media screen and (max-width: 1020px) {
    margin: 0;
    width: auto;
  }

  &__img {
    display: block;
    width: auto;
  }

  &__text {
    display: block;
    padding: 6px;
    font-size: 18px;
    text-align: center;

    &--hello {

    }

    &--no-name {

    }

    &--wrong-secret {

    }

    &--success {

    }

  }
}


