.new-attendee {
  margin: 20px auto;

  &__header {
    text-align: center;
    font-size: 16px;
    margin: 20px auto;
  }

  &__selectable-months {
    text-align: center;
  }

  &__form {
    margin: 20px auto;
    text-align: center;
  }
}

.form-column {
  vertical-align: top;
  margin: 0 20px;
  width: 500px;
  display: inline-block;
  height: 260px;
}

.form-row {
  &__label {
    font-size: 16px;
    margin-right: 10px;
  }

  &__input {
    display: inline-block;
  }

  &__button {
    margin-top: 10px;
  }
}

.form-inputs {
  text-align: right;

  &__row {
    margin: 15px 0;
  }
}

.form-message {
  text-align: left;
  display: block;
  margin: 10px 0;
  border: 1px solid lighten(black, 80%);
  overflow: hidden;
  width: 238px;
  border-radius: 4px;

  &__img {
    display: block;
    height: 200px;
    width: auto;
  }

  &__text {
    display: block;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid lighten(black, 80%);
  }
}


