.new-attendee {
  margin: 30px auto;
  text-align: center;

  &__header {
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
    color: $off-black;
  }

  &__form {
    margin: 15px auto;
    text-align: center;

    @media screen and (max-width: 1020px) {
      margin: 0;
    }
  }
}

.form-column {
  vertical-align: top;
  margin: 0 30px;
  width: 540px;
  display: inline-block;
  margin-top: 10px;

  @media screen and (max-width: 1205px) {
    width: 440px;
  }
  @media screen and (max-width: 1020px) {
    width: 540px;
  }
  @media screen and (max-width: 455px) {
    width: auto;
  }

  &--messages {
    text-align: right;

    @media screen and (max-width: 1020px) {
      text-align: center;
    }
  }

  &--inputs {
    text-align: left;

    @media screen and (max-width: 1020px) {
      text-align: center;
    }
  }
}

.form-row {
  margin: 20px 0;
  color: $off-black;

  &:first-of-type {
    margin-top: 0px;
  }

  &__label {
    font-size: 18px;
    margin-right: 5px;
  }

  &__input {
    display: inline-block;
  }

  &__input-name {
    margin-right: 6px;
  }

  &__button {
    margin-top: 10px;
    margin-left: 120px;
  }
}

.form-message {
  display: inline-block;
  overflow: hidden;
  width: 238px;
  border-radius: 4px;

  &--hello {
    color: lighten($safe-teal, 8%);
  }

  &--no-name {
    color: $sakura-red;
  }

  &--wrong-secret {
    color: $sakura-red;
  }

  &--success {
    color: lighten($safe-green, 8%);
  }

  @media screen and (max-width: 1020px) {
    margin: 0;
    width: auto;
  }

  &__img {
    display: block;
    width: auto;
    height: 200px;

    @media screen and (max-width: 1020px) {
      height: auto;
    }
  }

  &__text {
    display: block;
    padding: 5px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
  }
}


