.not-found__heading {
  font-size: 40px;
  text-align: center;
  margin-top: 150px;
  color: black;
}

.not-found__message {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  color: black;
}

.not-found__image {
  text-align: center;
  margin-top: 30px;
}
