<h1>{{model.name}}</h1>

{{#if model.location}}
  Location: {{model.location}}
{{/if}}

{{#if model.details}}
  Details: {{model.details}}
{{/if}}

<span>HEY share the dates that you're available OK?</span>

{{new-attendee-form event=model createAttendee="createAttendee"}}

