<section>
  <h1 class="event__name">{{model.name}}</h1>

  <div class="event__description event-description">
    {{#if model.location}}
      <p class="event-description__item">Location: {{model.location}}</p>
    {{/if}}

    {{#if model.details}}
      <p class="event-description__item">Details: {{model.details}}</p>
    {{/if}}
  </div>
</section>

<span class="divider divider--pink"></span>

{{event-calendars
    event=model
    createAttendee=(route-action "createAttendee")}}
