<h1>{{model.event.name}}</h1>

{{#if model.event.location}}
  Location: {{model.event.location}}
{{/if}}

{{#if model.event.details}}
  Details: {{model.event.details}}
{{/if}}

<span>HEY share the dates that you're available OK?</span>

{{new-attendee-form attendee=model createAttendee="createAttendee"}}

