<h1 class="event__name">{{model.name}}</h1>

{{#if model.location}}
  Location: {{model.location}}
{{/if}}

{{#if model.details}}
  Details: {{model.details}}
{{/if}}

{{new-attendee-form event=model createAttendee="createAttendee"}}

