<h1 class="home__heading">
  <span class="home--pretty-pink">p</span>{{!--
  --}}<span class="home--pretty-pink">r</span>{{!--
  --}}<span class="home--pretty-pink">e</span>{{!--
  --}}<span class="home--pretty-pink">t</span>{{!--
  --}}<span class="home--pretty-pink">t</span>{{!--
  --}}<span class="home--pretty-pink">y</span>

  <span class="home--pretty-sasuke">s</span>{{!--
  --}}<span class="home--pretty-sasuke">c</span>{{!--
  --}}<span class="home--pretty-sasuke">h</span>{{!--
  --}}<span class="home--pretty-sasuke">e</span>{{!--
  --}}<span class="home--pretty-sasuke">d</span>{{!--
  --}}<span class="home--pretty-sasuke">u</span>{{!--
  --}}<span class="home--pretty-sasuke">l</span>{{!--
  --}}<span class="home--pretty-sasuke">e</span>{{!--
  --}}<span class="home--pretty-sasuke">r</span>
</h1>

<div class="home__new-event">
  {{#link-to 'events.new' tagName="button" class="home__button button button--large button--inverse button--inverse-thick button--inverse-tokiwa-blue"}}Plan an event{{/link-to}}
</div>
