<h1 class="home__heading">Pretty Scheduler</h1>

<div class="home__new-event">
  {{#link-to 'events.new' tagName="button" class="home__button button button--large"}}Plan an event !{{/link-to}}
</div>
