<h1 class="not-found__heading">404 Not Found</h1>
<div class="not-found__image">
  <img src="/assets/images/cool.gif" alt="GIF of a dog wearing purple shades">
</div>
<p class="not-found__message">
  there's nothing to see here
</p>
